body {
  background-color: #D2B48C;
}

h1 {
  text-align: center;
  background-color: #E2C49C;
  font-size: 550%;
  margin: 0px;
  border-radius: 5px;
}

.counter {
  text-align: center;
  background-image: linear-gradient(#E2C49C, #C2A47C);
  font-size: 100%;
  margin-top: 2%;
  margin-left: 43%;
  padding-bottom: 2px;
  width: 15%;
  height: 10%;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
}

.counter_left {
  text-align: center;
  background-image: linear-gradient(#E2C49C, #C2A47C);
  font-size: 100%;
  margin-top: 2%;
  margin-left: 43%;
  padding-bottom: 2px;
  width: 15%;
  height: 10%;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
}

.counter_right {
  text-align: center;
  background-image: linear-gradient(#E2C49C, #C2A47C);
  font-size: 100%;
  margin-top: 2%;
  margin-left: 43%;
  padding-bottom: 2px;
  width: 15%;
  height: 10%;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
}

.button {
  text-align: center;
  background-image:  background-image: url('../Assets/flag.png')
  width: 50%;
  height: 10%;
  margin-left: 25%;
  margin-top: 3%;
  font-size: 400%;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
}

.button:hover {
  text-align: center;
  background-image: linear-gradient(#D2B48C, #B2946C);
  width: 50%;
  height: 10%;
  margin-left: 25%;
  margin-top: 3%;
  font-size: 400%;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
}

.cd {
  text-align: center;
  background-image: linear-gradient(#FFFFFF, #CCCCCC);
  width: 50%;
  height: 10%;
  margin-left: 25%;
  margin-top: 3%;
  font-size: 400%;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
}

.cd:hover {
  text-align: center;
  background-image: linear-gradient(#CCCCCC, #AAAAAA);
  width: 50%;
  height: 10%;
  margin-left: 25%;
  margin-top: 3%;
  font-size: 400%;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
}

.num {
  text-align: center;
  /*background-image: linear-gradient(#D2B48C, #B2946C);*/
  font-size: 400%;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}

.rarenum {
  text-align: center;
  background-image: linear-gradient(#FAF398, #D2AC47);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 400%;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}

.epiknum {
  text-align: center;
  background-image: linear-gradient(#39FF14, #05BB00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 400%;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}

.ledgendnum {
  text-align: center;
  background-image: linear-gradient(#26F7FD, #02B3C9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 400%;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}

.beastiary {
  background-color: #B2946C;
  border-radius: 5px;
  width: 20%;
  height: 48%;
  margin-left: 80%;
  margin-top: -22%;
}
/*
.invis {
  color: transparent;
}
*/
.beast {
  background-color: #E2C49C;
  border-radius: 5px;
  width: 96%;
  height: 25%;
  margin-left: 1%;
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  font-size: 86%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.boosterMenu {
  background-color: #B2946C;
  border-radius: 5px;
  width: 50%;
  height: 45%;
  margin-left: 25%;
  margin-top: 1%;
  overflow-y: scroll;
}

.boosteritem {
  background-color: #E2C49C;
  border-radius: 5px;
  width: 96%;
  height: 25%;
  margin-left: 1%;
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  font-size: 93%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.boosteritem:hover {
  background-color: #D2B48C;
  border-radius: 5px;
  width: 96%;
  height: 25%;
  margin-left: 1%;
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  font-size: 93%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.flavortext {
  text-align: center;
  margin-top: 1%;
  margin-left: 10%;
  font-size: 150%;
  width: 80%;
  height: 2%;
}
